In [1]:
# Pandas
# Numpy

# library - collection of function
# pandas - library for manipulation of data

# programming is all about Data Type and Data Structure
# List - to iterate or manipulate homogenous data
# Tuple - to store data

# Pandas Data Strcture - Series - 1 dimensional - homogenous
# Pandas Data Strcture - DataFram - 2 dimensional - index + Series

In [ ]:
# Summary

# DataType: numpy.array, pd.Series, pd.DataFrame
# Attribute: index, columns, values
# Behavior: vectorized operation

In [2]:
import pandas as pd

In [3]:
alist = [10,20,30,40,50]

In [4]:
for i in alist:
    # list is heterogenous by nature
    # list should be kept homogenous for efficiency
    # list is a slow car from A to B, simple list
    # list store things randomly
    
    # series is a fast racecar from A to B, vectorized list
    # series store things in the same place
    # series has index, i.e. primary key
    # series has 2 major attributes: s.index and s.values

    # dataframe has 3 major attributes: df.index, df.columns and df.values
    
    # should not use for loop in pandas, for loop is slow
    type(i)

In [5]:
alist + 5

TypeError: can only concatenate list (not "int") to list

In [19]:
alist + alist

[10, 20, 30, 40, 50, 10, 20, 30, 40, 50]

In [21]:
s = pd.Series(alist)
s

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [23]:
s + s

0     20
1     40
2     60
3     80
4    100
dtype: int64

In [25]:
s.index

RangeIndex(start=0, stop=5, step=1)

In [27]:
s.values

array([10, 20, 30, 40, 50])

In [29]:
df = pd.DataFrame()
df["Stock"] = ["MSFT", "AAPL", "IBM", "ORCL"]
df["Price"] = [260.99, 220.75, 115.99, 56.99]
df

  Stock   Price
0  MSFT  260.99
1  AAPL  220.75
2   IBM  115.99
3  ORCL   56.99

In [31]:
# fast, gather data source, and manipulate, 
# 3 attributes, index, columns, values (doesn't need invoke)
# N methods (need invoke)
# attributes vs methods

In [33]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [35]:
df.columns

Index(['Stock', 'Price'], dtype='object')

In [37]:
df.values

array([['MSFT', 260.99],
       ['AAPL', 220.75],
       ['IBM', 115.99],
       ['ORCL', 56.99]], dtype=object)

In [39]:
# create empty column

df["Shares"] = 0
df

  Stock   Price  Shares
0  MSFT  260.99       0
1  AAPL  220.75       0
2   IBM  115.99       0
3  ORCL   56.99       0

In [41]:
# create new column

df["Shares"] = [100, 200, 300, 400]
df

  Stock   Price  Shares
0  MSFT  260.99     100
1  AAPL  220.75     200
2   IBM  115.99     300
3  ORCL   56.99     400

In [43]:
# 1 dismoen df is series

df["Amnt"] = df["Price"] * df["Shares"]
df

  Stock   Price  Shares     Amnt
0  MSFT  260.99     100  26099.0
1  AAPL  220.75     200  44150.0
2   IBM  115.99     300  34797.0
3  ORCL   56.99     400  22796.0

In [45]:
# assign column as index

df.index = df["Stock"]
df

      Stock   Price  Shares     Amnt
Stock
MSFT   MSFT  260.99     100  26099.0
AAPL   AAPL  220.75     200  44150.0
IBM     IBM  115.99     300  34797.0
ORCL   ORCL   56.99     400  22796.0

In [49]:
# common parameters of Python function
# axis : {0 or 'index', 1 or 'columns'}, default 0
# inpalce : bool, default False

# row: axis = 0 or "index"
# col: axis = 1 or "columns"

# help(df.drop)

In [51]:
df.drop("Stock", axis=1, inplace=False)
df

      Stock   Price  Shares     Amnt
Stock
MSFT   MSFT  260.99     100  26099.0
AAPL   AAPL  220.75     200  44150.0
IBM     IBM  115.99     300  34797.0
ORCL   ORCL   56.99     400  22796.0

In [53]:
df.drop("Stock", axis=1, inplace=True)
df

        Price  Shares     Amnt
Stock
MSFT   260.99     100  26099.0
AAPL   220.75     200  44150.0
IBM    115.99     300  34797.0
ORCL    56.99     400  22796.0

In [55]:
# location by label
# splicing [start:stop, start:stop]
# stop is inclusive

df.loc["AAPL":"IBM", "Shares":"Amnt"]

       Shares     Amnt
Stock
AAPL      200  44150.0
IBM       300  34797.0

In [71]:
help(df.iloc)

Help on _iLocIndexer in module pandas.core.indexing object:

class _iLocIndexer(_LocationIndexer)
 |  Purely integer-location based indexing for selection by position.
 |
 |  ``.iloc[]`` is primarily integer position based (from ``0`` to
 |  ``length-1`` of the axis), but may also be used with a boolean
 |  array.
 |
 |  Allowed inputs are:
 |
 |  - An integer, e.g. ``5``.
 |  - A list or array of integers, e.g. ``[4, 3, 0]``.
 |  - A slice object with ints, e.g. ``1:7``.
 |  - A boolean array.
 |  - A ``callable`` function with one argument (the calling Series or
 |    DataFrame) and that returns valid output for indexing (one of the above).
 |    This is useful in method chains, when you don't have a reference to the
 |    calling object, but would like to base your selection on some value.
 |  - A tuple of row and column indexes. The tuple elements consist of one of the
 |    above inputs, e.g. ``(0, 1)``.
 |
 |  ``.iloc`` will raise ``IndexError`` if a requested indexer is
 |  out-of-bounds, except *slice* indexers which allow out-of-bounds
 |  indexing (this conforms with python/numpy *slice* semantics).
 |
 |  See more at :ref:`Selection by Position <indexing.integer>`.
 |
 |  See Also
 |  --------
 |  DataFrame.iat : Fast integer location scalar accessor.
 |  DataFrame.loc : Purely label-location based indexer for selection by label.
 |  Series.iloc : Purely integer-location based indexing for
 |                 selection by position.
 |
 |  Examples
 |  --------
 |  >>> mydict = [{'a': 1, 'b': 2, 'c': 3, 'd': 4},
 |  ...           {'a': 100, 'b': 200, 'c': 300, 'd': 400},
 |  ...           {'a': 1000, 'b': 2000, 'c': 3000, 'd': 4000 }]
 |  >>> df = pd.DataFrame(mydict)
 |  >>> df
 |        a     b     c     d
 |  0     1     2     3     4
 |  1   100   200   300   400
 |  2  1000  2000  3000  4000
 |
 |  **Indexing just the rows**
 |
 |  With a scalar integer.
 |
 |  >>> type(df.iloc[0])
 |  <class 'pandas.core.series.Series'>
 |  >>> df.iloc[0]
 |  a    1
 |  b    2
 |  c    3
 |  d    4
 |  Name: 0, dtype: int64
 |
 |  With a list of integers.
 |
 |  >>> df.iloc[[0]]
 |     a  b  c  d
 |  0  1  2  3  4
 |  >>> type(df.iloc[[0]])
 |  <class 'pandas.core.frame.DataFrame'>
 |
 |  >>> df.iloc[[0, 1]]
 |       a    b    c    d
 |  0    1    2    3    4
 |  1  100  200  300  400
 |
 |  With a `slice` object.
 |
 |  >>> df.iloc[:3]
 |        a     b     c     d
 |  0     1     2     3     4
 |  1   100   200   300   400
 |  2  1000  2000  3000  4000
 |
 |  With a boolean mask the same length as the index.
 |
 |  >>> df.iloc[[True, False, True]]
 |        a     b     c     d
 |  0     1     2     3     4
 |  2  1000  2000  3000  4000
 |
 |  With a callable, useful in method chains. The `x` passed
 |  to the ``lambda`` is the DataFrame being sliced. This selects
 |  the rows whose index label even.
 |
 |  >>> df.iloc[lambda x: x.index % 2 == 0]
 |        a     b     c     d
 |  0     1     2     3     4
 |  2  1000  2000  3000  4000
 |
 |  **Indexing both axes**
 |
 |  You can mix the indexer types for the index and columns. Use ``:`` to
 |  select the entire axis.
 |
 |  With scalar integers.
 |
 |  >>> df.iloc[0, 1]
 |  2
 |
 |  With lists of integers.
 |
 |  >>> df.iloc[[0, 2], [1, 3]]
 |        b     d
 |  0     2     4
 |  2  2000  4000
 |
 |  With `slice` objects.
 |
 |  >>> df.iloc[1:3, 0:3]
 |        a     b     c
 |  1   100   200   300
 |  2  1000  2000  3000
 |
 |  With a boolean array whose length matches the columns.
 |
 |  >>> df.iloc[:, [True, False, True, False]]
 |        a     c
 |  0     1     3
 |  1   100   300
 |  2  1000  3000
 |
 |  With a callable function that expects the Series or DataFrame.
 |
 |  >>> df.iloc[:, lambda df: [0, 2]]
 |        a     c
 |  0     1     3
 |  1   100   300
 |  2  1000  3000
 |
 |  Method resolution order:
 |      _iLocIndexer
 |      _LocationIndexer
 |      pandas._libs.indexing.NDFrameIndexerBase
 |      builtins.object
 |
 |  Data and other attributes defined here:
 |
 |  __annotations__ = {}
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from _LocationIndexer:
 |
 |  __call__(self: '_LocationIndexerT', axis: 'Axis | None' = None) -> '_LocationIndexerT'
 |      Call self as a function.
 |
 |  __getitem__(self, key)
 |
 |  __setitem__(self, key, value) -> 'None'
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from _LocationIndexer:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes inherited from _LocationIndexer:
 |
 |  axis = None
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from pandas._libs.indexing.NDFrameIndexerBase:
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __reduce__ = __reduce_cython__(...)
 |
 |  __setstate__ = __setstate_cython__(...)
 |
 |  ----------------------------------------------------------------------
 |  Static methods inherited from pandas._libs.indexing.NDFrameIndexerBase:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from pandas._libs.indexing.NDFrameIndexerBase:
 |
 |  name
 |
 |  ndim
 |
 |  obj

In [57]:
# slicing, location by index
# [row: {start:stop}, col: {start:stop}]

df.iloc[1:3, 1:3]

       Shares     Amnt
Stock
AAPL      200  44150.0
IBM       300  34797.0

In [ ]:
df[["Price", "Amnt"]].loc["AAPL":"IBM"]

In [ ]:
df.loc["AAPL":"IBM"][["Price", "Amnt"]]

In [ ]:
df.reset_index(inplace=True)
df

In [ ]:
condition_aapl = df["Stock"] == "AAPL"
df[condition_aapl]["Price"].squeeze()

In [ ]:
df[condition_aapl]["Price"].iloc[0]

In [ ]:
df[df["Price"] < 100][["Stock", "Price"]]

In [ ]:
max_amnt = df["Amnt"].max()
condition_max_amnt = df["Amnt"] == max_amnt
df[condition_max_amnt]